<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/6728a54b-0d22-4a6a-acb6-8ae81aea3451/resourceGroups/DEV-BackendTeam/providers/Microsoft.ContainerRegistry/registries/ifolorDevTest</ResourceId>
    <ResourceName>ifolorDevTest</ResourceName>
    <ResourceGroup>DEV-BackendTeam</ResourceGroup>
    <Subscription>Shared Services TEST</Subscription>
    <RegistryUrl>ifolordevtest.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>5c5b8e4b-6ae9-43a8-855b-355281b25d79</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>